<mdb-card class="h-100">
  <!--Card image-->
  <mdb-card-title class="m-3">
    <h4>
      <a
        (click)="saveProduct()"
        routerLink="/product/{{ details.ProductId }}"
        >{{ details.Name }}</a
      >
    </h4>
  </mdb-card-title>
  
    <img
      src="{{ details.ProductPicUrl }}"
    
      alt="Card image"
      style="width: 100%;"
    >
   
  
 
  <!--Card content-->
  <mdb-card-body
      class="overflow-hidden"
      class="text-muted"
      style="
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        direction: rtl;
        font-size: 20px !important;
        
      "
      >
      {{ details.Description }}
    
  </mdb-card-body>
  <mdb-card-footer>
    <div class="d-flex" style="justify-content: space-between">
      <mdb-badge default="true">Price: {{ details.Price }}</mdb-badge>
      <mdb-badge default="true">Quantity: {{ details.Quantity }}</mdb-badge>
      <mdb-badge default="true">
        <mdb-icon
          fas
          icon="cart-arrow-down"
          (click)="addToCart()"
          style="cursor: pointer"
        ></mdb-icon>
      </mdb-badge>
    </div>
  </mdb-card-footer>
</mdb-card>
