<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">
  <!-- Navbar brand -->
  <mdb-navbar-brand
    ><a class="navbar-brand" routerLink="/">Logo</a></mdb-navbar-brand
  >

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/"
          >Home<span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          routerLink="/about"
          routerLinkActive="link"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect
          routerLink="/contact"
          routerLinkActive="link"
          >Contact Us</a
        >
      </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart">
          <mdb-icon fas icon="shopping-cart"></mdb-icon><div id="num">{{numberOfItems}}</div>
        </a>
      </li>
    </ul>

  </links>

</mdb-navbar>

