<br>

<div class="container">
  <br>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th><img src="{{data['ProductPicUrl']}}" alt="img"> {{data["Name"]}} </th>
      <td> {{data["Price"]}} </td>
      <td><input type="text" [(ngModel)]="quantity"></td>
      <td>{{totalPerProduct}}</td>
    </tr>
    </tbody>
  </table>
  <div class="right">
    <h2>Cart Total</h2>
    <hr>
    <p>Total <span>$4247</span></p>
  </div>
</div>


