<br>

<div class="container">
  <br>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Product</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Total</th>
    </tr>
    </thead>
    <tbody >

    <tr *ngFor="let a of data">
      <th><img src="{{a['ProductPicUrl']}}" alt="img"> {{a["Name"]}} </th>
      <td> {{a["Price"]}} </td>
      <td><input type="text" [(ngModel)]="a['RequestedQuantity']"></td>
      <td>{{a["totalPerProduct"]}}</td>
    </tr>
    </tbody>
  </table>
  <div class="right">
    <h2>Cart Total</h2>
    <hr>
    <p>Total <span>{{allTotal}} $</span></p>
  </div>
</div>


